[submodule "Client"]
	path = Client
	url = https://github.com/cfsant/Client.git
[submodule "Services"]
	path = Services
	url = https://github.com/cfsant/Services.git
[submodule "Protos"]
	path = Protos
	url = https://github.com/cfsant/Protos.git
